#contents{
    display: grid;
    width: calc(100% - 250px);
    overflow-y: scroll;
    grid-template-columns: auto 75vw auto;
    grid-template-rows: 70px 30px 80px 60vh auto;
    overflow-y: scroll;
}

#content_name{
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    display: flex;
}

#search_tools{
    display: flex;
    grid-row: 3;
    grid-column: 2;
    align-items: center;
}
#search_tools > *{
    height: 20px;
    margin-left: 10px;
}