*{
    padding: 0;
    margin: 0;
}
#header{
    height: 80px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 40px auto 380px 45px 120px 40px;
}
#main_logo{
    grid-column: 2;
    height: 40px;
    width: 140px;
    background-color: blueviolet;
    margin-top: 20px;
    border-radius: 10px;
}
#search_{
    margin-top: 20px;
    grid-column: 3;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding: 0px 10px;
}
#login_btn{
    display : flex;
    margin-top: 20px;
    grid-column: 5;
    background-color: blueviolet;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#main_content{
    display: flex;
    flex: 1;
    height: calc(100vh - 100px);
}
#lnb{
    display: inline-block;
    background-color: #DDDDDD;
    width: 250px;
    height: calc(100vh - 100px);
}
#category{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    list-style: none;
    width: 210px;
}
#category *{
    cursor: pointer;
}
#category ul{
    list-style: none;
    margin-left: 10px;
    display: block;
}
.arrow_mark{
    display: inline-block;
}
.f_c{
    display: flex;
    justify-content: space-between;
}