*{
    padding: 0;
    margin: 0;
}
::selection{
    color: #68c576;
}

#header{
    height: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 40px 140px auto 380px 45px 120px 40px;
}
#main_logo{
    grid-column: 2;
    height: 40px;
    width: 140px;
    background-color: #68c576;
    margin-top: 20px;
    border-radius: 10px;
}
#search_{
    margin-top: 20px;
    grid-column: 4;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding: 0px 10px;
    outline: none;
    background-color: #e9e9e9;
}
#login_btn{
    display : flex;
    margin-top: 20px;
    grid-column: 6;
    background-color: #68c576;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #e6ffea;
}
#main_content{
    display: flex;
    flex: 1;
    height: 100%
}
#lnb{
    display: inline-block;
    background-color: #EEEEEE;
    width: 250px;
    height: calc(100vh - 80px);
}
#project_logo{
    display: inline-block;
    height: 24px;
    width: 24px;
    background-color: aqua;
    margin-right: 10px;
}
#project_over{ 
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 40px;
    align-items: center;
}
#category{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    list-style: none;
    width: 210px;
}
#category *{
    cursor: pointer;
    font-size: 18px;
}
.main_cat{
    margin-bottom: 16px;
    font-size: 16px;
}
.arrow_mark{
    display: inline-block;
}
.f_c{
    display: flex;
    justify-content: space-between;
}
.s_c{
    margin-top: 7.5px;
    list-style: none;
    margin-left: 25px;
    display: none;
}
.s_c *{
    margin-bottom: 7.5px;
}
#content_name{
    font-size: 26px;
    font-weight: 600;
}