#timeline{
    display: flex;
    grid-row: 4;
    grid-column: 2;
    background-color: white;
    border-top-left-radius: 15px;
    border-left: 1px solid #35623b;
    border-top: 1px solid #35623b;
    overflow-y: auto;
    scrollbar-color: #68c576 #FFFFFF;
}
select{
    appearance: #35623b;
    border: none;
    background: none;
    color: #35623b;
}
#search_tool{
    width: 150px;
    outline: none;
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 5px;
    padding: 1.5px 5px;
    color: #6cbc76;
}
#list_name{
    min-width: 240px;
    border-right: 3px solid #35623b;
}
#blank_top{
    height: 60px;
    background-color: #e6ffea;
}
#release_time{
    display: flex;
    justify-items: center;
    font-size: 16px;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    border-bottom: 2px solid #e6ffea;
}
#add_plan_btn{
    display: flex;
    justify-items: center;
    font-size: 16px;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    border-bottom: 2px solid #e6ffea;
    cursor: pointer;
}
.plan_name{
    display: flex;
    justify-items: center;
    font-size: 16px;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    cursor: pointer;
}
.odd_status{
    background-color: #e6ffea;
}
.plan_box{
    display: block;
    position: absolute;
    border-radius: 7.5px;
    margin-top: 5px;
    height: 30px;
    pointer-events: none;
}
.type_dev{
    background-color: #35623b;
}
.type_prototype{
    background-color: #2ca7ff;
}
.type_qa{
    background-color: #ffdc3f;
}
.plan_unfixed{
    opacity: 0.4;
}
.project_abbreviation{
    color: #6cbc76;
    font-size: 14px;
    font-weight: 600;
    padding: 0 5px;
}
.plan_bar{
    display: flex;
    justify-items: center;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.hover_status{
    background-color: #d2ffd9;
}

#add_plan_btn:hover{
    background-color: #d2ffd9;
}
#plan_type{
    display: none;
    outline: none;
    width: 200px;
    height: 26px;
    font-size: 16px;
    padding: 0 5px;
    border-color: #68c576;
    border-radius: 5px;
}
#add_plan_line{
    height: 40px;
    border-bottom: 2px solid #e6ffea;
}
#schedules{
    display: block;
    position: relative;
    scroll-snap-stop:normal;
    scrollbar-color: #68c576 #FFFFFF;
    font-size: 14px;
    width: calc(100vw - 270px);
    margin: 0;
    background-color: none;
    overflow-x: scroll;
    overflow-y: hidden;
}
#test_2{
    position: absolute;
}
#test_box{
    display: flex;
    flex-direction: column;
}
#date_row{
    display: flex;
    text-align: center;
    width: auto;
    height: 60px;
    position: sticky;
}
#date_row > *{
    background-color: #e6ffea;
}

#blank_line{
    display: flex;
    width: auto;
    height: 40px;
    border-bottom: 2px solid #e6ffea;
}
#seasons{
    display: none;
    text-align: center;
    align-items: center;
}
#seasons *{
    min-width: 210px;
}
#months{
    display: none;
    align-items: center;
}
.month{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 210px;
}
#weeks{
    display: flex;
    align-items: center;
}
.week{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 210px;
}
.week >*:last-child{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.date{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#today_line{
    position: absolute;
    display: flex;
    height: 100%;
    pointer-events: none;
}
#today_line > *{
    position: relative;
    width: 2px;
    background-color: #35623b;
    height:  calc(100% - 120px);
    top: 120px;
}

.weekend{
    border-radius: 5px;
    background-color: #d2ffd9;
    color: #35623b;
}
#magnification{
    position: fixed;
    display: flex;
    right: 45px;
    bottom: 30px;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
    background-color: #ffffff;
}
#magnification > *{
    cursor: pointer;
    text-align: center;
    align-self: center;
    width: 80px;
    padding: 14px 0;
    border-left: 1px solid #DDDDDD;
}
#today{
    border-left: 0px solid #DDDDDD;
    border-right: 2px solid #35623b;
}
#week_view_btn{
    border-left: 0px solid #DDDDDD;
}

.selected{
    background-color: #e6ffea;
}

#today_date{
    border-radius: 5px;
    background-color: #6cbc76;
    color: #35623b;
}

#division{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}
.line{
    flex: 0 0 210px;
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0.25px -0.25px 0 0.3px #35623b inset;
}